@import "./fonts/fonts.scss";

* {
  $scrollRound : 1px;
  $scrollWidth : 6px;
  $scrollHeight: 10px;
  $scrollBG_track : #6e829c0c;
  $scrollBG_thumb : #061d3149;

  box-sizing: border-box;
  scrollbar-width: $scrollWidth;

  &::-webkit-scrollbar {
    width: $scrollWidth;
    height: $scrollHeight;
  }

  &::-webkit-scrollbar-track {
    background: $scrollBG_track;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $scrollRound;
    background-color: $scrollBG_thumb;
  }
}

html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 15px;
  font-family: 'Aeonik', ui-sans-serif, system-ui;
}

input {
  // Hide number input spinners
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}