@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		/* letter-spacing: -0.5px; */
	}
}